@model IEnumerable<NUS.TheAmagingRace.DAL.Event>
<script src="~/Scripts/Custom/EventManagement.js"></script>
<script src="~/Scripts/Custom/PitStop.js"></script>

<a href="#" class="btn btn-success" onclick="AddEvent()">Create</a><br />
<form id="searchForm">
    <div class="input-group">
        <input type="text" placeholder="search" id="SearchString" /> &nbsp;
        <a href="#" id="btnSearch" class="btn btn-success">Go</a>
    </div>
</form>

@if (Model.Count() > 0)
{

    foreach (var v in Model)
    {


        var id = "EventCard_" + v.EventID;

        <div class="card" id='@id.ToString()'>
            <div class="card-content">
                <div class="card-header">
                    <div class="card-heading">
                        <div style="float:right">
                            <a href="#" class="glyphicon glyphicon-pencil" onclick="EditEvent(@v.EventID)"></a>&nbsp;
                            <a href="#" class="glyphicon glyphicon-eye-open" onclick="ShowEvent(@v.EventID)"></a>&nbsp;
                            <a href="#" class="glyphicon glyphicon-trash" onclick="ConfirmDelete(@v.EventID)"></a>&nbsp;
                        </div>
                        <h5 align="center"><strong>@v.EventName</strong> </h5>
                    </div>

                </div>
                <div class="card-body" onclick="ShowPitstop(@v.EventID)">
                    <p class="card-p">
                        <i>@v.EventDescription</i><br />
                        Total Pitstops&nbsp;: @v.TotalPitStops<br />
                        Total Teams &nbsp; : @v.TotalTeams<br />

                    </p>
                </div>

                <div class="card-footer">


                    <strong>Last modified by : </strong>@v.LastModifiedBy
                </div>

            </div>
        </div>




    }

    <input type="hidden" id="hiddenEventId" />

}
else
{
    <div class="NorecordFound">
        <br />
        <p> No events to display </p>

        <p> Click create to add events</p>
    </div>
}

<script>
    $(document).ready(function () {
        $("#btnSearch").click(function () {
            var searchval = $("#SearchString").val();
            var url = "/Event/Search";
            $.ajax({
                type: "GET",
                url: url,
                data: { searchString: searchval },
                success: function (data) {
                    $("#LoadEvent").html(data);


                }

            });
        });
    });
</script>
